<div class="container">
    <center><h1>Welcome</h1>
    <h6>New User?</h6>
        <%= link_to 'Sign Up', signup_path, type: "button", class: "btn btn-primary btn-lg btn-block text-secondary" %><br>
    <h6>Already have an account?</h6>
        <%= link_to 'Log In', login_path, type: "button", class: "btn btn-primary btn-lg btn-block text-secondary" %>
        <%= link_to 'GITHUB Log In', '/auth/github', type: "button", class: "btn btn-primary btn-lg btn-block text-secondary"  %>
    </center><br>
</div><br><br>

<center><p>TrekIt user <strong><%= @random_adventure.user.username %></strong> says "<%= @random_adventure.name %>: <%= @random_adventure.recommendation %>" </p></center>

