<h1>Sign Up</h1>

<%= form_for @user do |f| %>

    <!-- Showing error messages after render -->
    <%# render 'layouts/error_messages', locals: {object: @user}  %>
    <%= render partial: 'layouts/error_messages', locals: {object: @user} %>
    

  
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Create a New Account'%>
<% end %>