<h1>Sign Up</h1>
<div class="container">
    <%= form_for @user do |f| %>

        <!-- Showing error messages after render -->
        <%= render partial: 'layouts/error_messages', locals: {object: @user} %>
        
        <p><%= f.label :username %>
        <%= f.text_field :username %></p>

        <p><%= f.label :email %>
        <%= f.email_field :email, required: true %></p>

        <p><%= f.label :password %>
        <%= f.password_field :password %></p>

        <p><%= f.submit 'Create a New Account'%></p>

    <% end %>
</div>