<%# form_for [@adventure.location, @adventure] do |f| %>
<%= form_for @adventure do |f| %>
    <%= f.hidden_field :location_id %> 

    <%= render partial: 'layouts/error_messages', locals: {object: @adventure} %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :recommendation, 'Notes & Recommendation:' %>
    <%= f.text_area :recommendation,  required: true, class: "form-control" %>
    </div>
   
    <div class="form-group">
    <%= f.label :is_wishlist, 'Add this to wishlist?', class: "form-check-label" %>
    <%= f.check_box :is_wishlist %>
    </div>
   

    <!--Select Location -->
    <%# f.label :location_id, "Select a Location" %>
    <!--collecion_select :###_id, ALL, :value, :display_value -->
    <%# f.collection_select :location_id, Location.all, :id, :state,  prompt: true %>

<p><h5>Adventure Location:</h5></p>
    <%= f.fields_for :location do |adv| %>
        <div class="form-group">
            <%= adv.label :city %>
            <%= adv.text_field :city, required: true, class: "form-group col-md-6" %>
        </div>

        <div class="form-group">
            <%= adv.label :state %>
            <%= adv.select :state, options_for_states, :prompt => 'Please choose one', required: true %>
        </div>
    <% end %>
 
    <p><%= f.submit class: "btn btn-primary" %></p>
<% end %>