

<ul>
<% @adventures.each do |adventure| %>
<li><%=link_to adventure.name , adventure_path(adventure) %>
- <%= link_to adventure.location.try(:state), location_path(adventure.location) %>
</li>
<% end %>
</ul>
<% if !@location %>
<%= link_to 'Add a New Adventure', new_adventure_path %><br><br>
<% end %>

<%= link_to 'Show LOCATIONS', locations_path %><br><br>

<%# for nested routes %>
<% if @location %>
<%= link_to 'NESTED ROUTE: Add a New Adventure', new_location_adventure_path %>
<% end %>

<%# link_to adventure.location.state if adventure.location, location_path(adventure.location) %>
<%# try %>

<h4>Wishlist:</h4>
<% @wishlists.each do |wishlist| %>
<%= wishlist.name %>
<% end %>