<h1>Adventure Show Page</h1>

<%= @adventure.name %><br><br>

<%= @adventure.recommendation%><br><br>

<%= @adventure.location.city%><br><br>

<%= @adventure.location.state %><br><br>

<%= link_to 'Edit Adventure', edit_adventure_path(@adventure) %><br><br>

<%= link_to 'Delete this Adventure', adventure_path(@adventure), method: :delete%>

<%# link_to 'Go back to your Homepage', user_adventures_path %>