<h1>Adventure Show Page</h1>

<h3><%= @adventure.name %></h3>

<p>Location: <%= @adventure.location.city%>, <%= @adventure.location.state %></p>

<p>Recommendation / Notes: <br>
<%= @adventure.recommendation%></p>

<%= link_to 'Edit Adventure', edit_adventure_path(@adventure) %><br><br>

<%= link_to 'Delete this Adventure', adventure_path(@adventure), method: :delete%>

