<h3>You have a total of <%= @current_user_locations.count %> locations in your log: </h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Adventure Log</th>
        </tr>
    </thead>
    <tbody>
        <% @current_user_locations.each do |location| %>
        <tr>
            <td><%= location.city %>, <%= location.state %></td>
            <td><%=link_to "Show Adventures", location_adventures_path(location) %></td>
        </tr>
        <% end %>
    </tbody>
</table><br><br>

<p><%= link_to 'See all the other locations TrekIt Users have in their Log', visited_locations_path %></p>

    <%# location.adventures each do |adv| %>
    <%# location.city %>
    <%# location.adventures.each do |adventure| %>
    <%# link_to adventure.name, adventure_path(adventure) %>
    <%# end %>