<!DOCTYPE html>
<html>
  <head>
    <title>AdvTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Header logo here!</h2>
  <!-- Use this for now -->
  <% if logged_in? %>
    <%= link_to 'Home', adventures_path %>
    <%= link_to 'Log Out', logout_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
