<!DOCTYPE html>
<html>
  <head>
    <title>AdvTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title>TrekIt</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-img"></div>
   <header><center><img src="/images/Trekitlogo.png" alt="Adventure Tracker Header" class="img-responsive main-image"></center></header>

  <h2>Header logo here! TrekIt</h2>
        <!-- NAV BAR -->
        <% if logged_in? %>
          <%= link_to 'Home', adventures_path %>
          <%= link_to 'Log Out', logout_path %>
        <% end %>

        <!-- Flash Messages -->
       <% flash.keys.each do |type| %>
        <p><strong><t style="color: red;"><%= flash[type] %></t></strong></p>
        <% end %>

        <!-- Other views info -->
        <%= yield %>

    <footer class="branding">
      <small>&copy; 2019 <strong>TrekIt</strong></small>
    </footer>
  </body>
</html>
